@media  screen and (max-width: 768px){
    .navbar{
        display: flex;
        flex-direction: column;
    }
    
}
@media  screen and (max-width: 568px){
    .logo img{
        height: 70px;
        width:300px;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li a:hover{
        width:100%;
        background: darkkhaki;
        
    }
    
}

/* navbar End ===============  */