@media  screen and (max-width: 768px){
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .banner-img{
        display: none;
    }
    .title-text{
        font-size: 65px;
    }
    .banner{
        padding: 10px 7px 0px 20px;
    }
    .banner-text{
        width: 100%;
    }
    .brand-img img{
        width: 50px;
    }
   #tutor1, #tutor2{
        flex-direction: column; 
        padding: 0px;
    }
    .tutor1-img,  .tutor2-img{
        width: 100%;
    }
    .tutor1-img .t-img{
        width: 100%;
        margin: 0px;
    }
    .tutor1-text, .tutor2-text{
        width: 100%;
        padding: 10px;
    }
    .tutor1-text h2, .tutor2-text h2 {
        font-size: 35px;
    }
    
    
    
}
@media  screen and (max-width: 568px){
    .logo img{
        height: auto;
        width: 173px;
    }
    nav ul{
        /* flex-direction: column; */ 
        display: none;
    }
    nav ul li a:hover{
        width:100%;
        background: darkkhaki;
        
    }
    
}

/* navbar End ===============  */